<!-- the template will inherit the structure of base.html. -->
{% extends "base.html" %}

{% block page_title %}
    <div class="post-title">
        <h2>{{ post.title }}</h2>
    </div>
    <div class="post-details">
        <small>
            Written by {{ post.author.name }} on {{ post.created_on.date }} | Categories:
            {% for category in post.categories.all %}
                <a href="{% url 'blog_category' category.name %}">
                    {{ category.name }}
                </a>
            {% endfor %}
        </small>
    </div>
{% endblock page_title %}

{% block page_content %}
    <div class="post-comment">
        <div class="post-body">
            <p>{{ post.body | safe | linebreaks }}</p>
        </div>

        <h3>Leave a comment:</h3>
        <form method="post">
            {% csrf_token %}  <!-- provides security and renders the body and author fields of the form -->
            <div>
                {{ form.author }}
            </div>
            <div class="comment-textbox">
                {{ form.body }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <h3>Comments:</h3>
        <div class="comment-section">
            {% for comment in comments %}
                <div class="comment-box">
                    <p>
                        On {{ comment.created_on.date }} <b>{{ comment.author }}</b> wrote:
                    </p>
                    <p>
                        {{ comment.body | linebreaks }}
                    </p>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock page_content %}